<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <connectionStrings>
    <add name="eration.Properties.Settings.erationConnectionString" connectionString="Data Source=ALBINTHOMAS-PC\SQLEXPRESS;Initial Catalog=eration;Integrated Security=True" providerName="System.Data.SqlClient" />
    <add name="erationEntities" connectionString="metadata=res://*/model.csdl|res://*/model.ssdl|res://*/model.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=ALBINTHOMAS-PC\SQLEXPRESS;initial catalog=eration;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="erationEntities1" connectionString="metadata=res://*/model.csdl|res://*/model.ssdl|res://*/model.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=ALBINTHOMAS-PC\SQLEXPRESS;initial catalog=eration;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="erationEntities2" connectionString="metadata=res://*/model.csdl|res://*/model.ssdl|res://*/model.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=ALBINTHOMAS-PC\SQLEXPRESS;initial catalog=eration;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="erationEntities3" connectionString="metadata=res://*/model.csdl|res://*/model.ssdl|res://*/model.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=ALBINTHOMAS-PC\SQLEXPRESS;initial catalog=eration;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="erationEntities4" connectionString="metadata=res://*/model1.csdl|res://*/model1.ssdl|res://*/model1.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=ALBINTHOMAS-PC\SQLEXPRESS;initial catalog=eration;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="erationEntities5" connectionString="metadata=res://*/model.csdl|res://*/model.ssdl|res://*/model.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=ALBINTHOMAS-PC\SQLEXPRESS;initial catalog=eration;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="erationEntities6" connectionString="metadata=res://*/Model1.csdl|res://*/Model1.ssdl|res://*/Model1.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=ALBINTHOMAS-PC\SQLEXPRESS;initial catalog=eration;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="erationEntities7" connectionString="metadata=res://*/model.csdl|res://*/model.ssdl|res://*/model.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=ALBINTHOMAS-PC\SQLEXPRESS;initial catalog=eration;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="erationEntities8" connectionString="metadata=res://*/model.csdl|res://*/model.ssdl|res://*/model.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=ALBINTHOMAS-PC\SQLEXPRESS;initial catalog=eration;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="erationEntities9" connectionString="metadata=res://*/model1.csdl|res://*/model1.ssdl|res://*/model1.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=ALBINTHOMAS-PC\SQLEXPRESS;initial catalog=eration;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="erationEntities10" connectionString="metadata=res://*/model1.csdl|res://*/model1.ssdl|res://*/model1.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=ALBINTHOMAS-PC\SQLEXPRESS;initial catalog=eration;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="erationEntities11" connectionString="metadata=res://*/mode1.csdl|res://*/mode1.ssdl|res://*/mode1.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=ALBINTHOMAS-PC\SQLEXPRESS;initial catalog=eration;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="erationEntities12" connectionString="metadata=res://*/model2.csdl|res://*/model2.ssdl|res://*/model2.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=ALBINTHOMAS-PC\SQLEXPRESS;initial catalog=eration;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="erationEntities13" connectionString="metadata=res://*/csdl|res://*/ssdl|res://*/msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=ALBINTHOMAS-PC\SQLEXPRESS;initial catalog=eration;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="erationEntities14" connectionString="metadata=res://*/model.csdl|res://*/model.ssdl|res://*/model.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=ALBINTHOMAS-PC\SQLEXPRESS;initial catalog=eration;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="erationEntities15" connectionString="metadata=res://*/model.csdl|res://*/model.ssdl|res://*/model.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=ALBINTHOMAS-PC\SQLEXPRESS;initial catalog=eration;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="erationEntities16" connectionString="metadata=res://*/model1.csdl|res://*/model1.ssdl|res://*/model1.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=ALBINTHOMAS-PC\SQLEXPRESS;initial catalog=eration;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="erationEntities17" connectionString="metadata=res://*/model1.csdl|res://*/model1.ssdl|res://*/model1.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=ALBINTHOMAS-PC\SQLEXPRESS;initial catalog=eration;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="erationEntities18" connectionString="metadata=res://*/model.csdl|res://*/model.ssdl|res://*/model.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=ALBINTHOMAS-PC\SQLEXPRESS;initial catalog=eration;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="erationEntities19" connectionString="metadata=res://*/model.csdl|res://*/model.ssdl|res://*/model.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=ALBINTHOMAS-PC\SQLEXPRESS;initial catalog=eration;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="erationEntities20" connectionString="metadata=res://*/model1.csdl|res://*/model1.ssdl|res://*/model1.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=ALBINTHOMAS-PC\SQLEXPRESS;initial catalog=eration;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="erationEntities21" connectionString="metadata=res://*/model2.csdl|res://*/model2.ssdl|res://*/model2.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=ALBINTHOMAS-PC\SQLEXPRESS;initial catalog=eration;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="erationEntities22" connectionString="metadata=res://*/model3.csdl|res://*/model3.ssdl|res://*/model3.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=ALBINTHOMAS-PC\SQLEXPRESS;initial catalog=eration;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="erationEntities23" connectionString="metadata=res://*/csdl|res://*/ssdl|res://*/msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=ALBINTHOMAS-PC\SQLEXPRESS;initial catalog=eration;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="erationEntities24" connectionString="metadata=res://*/model2.csdl|res://*/model2.ssdl|res://*/model2.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=ALBINTHOMAS-PC\SQLEXPRESS;initial catalog=eration;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="erationEntities25" connectionString="metadata=res://*/model2.csdl|res://*/model2.ssdl|res://*/model2.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=ALBINTHOMAS-PC\SQLEXPRESS;initial catalog=eration;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="erationEntities26" connectionString="metadata=res://*/model2.csdl|res://*/model2.ssdl|res://*/model2.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=ALBINTHOMAS-PC\SQLEXPRESS;initial catalog=eration;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="erationEntities27" connectionString="metadata=res://*/model2.csdl|res://*/model2.ssdl|res://*/model2.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=ALBINTHOMAS-PC\SQLEXPRESS;initial catalog=eration;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="erationEntities28" connectionString="metadata=res://*/model.csdl|res://*/model.ssdl|res://*/model.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=ATHIRA-PC\SQLEXPRESS;initial catalog=eration;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>